<div class="dashboard_se">
  <div class="banner_bg">
    
<ngb-carousel>
  <ng-template ngbSlide>
     <div class="carousel-caption">
       <div class="img_carousel"><img src="assets/appImages/banner/1.png" alt=""></div>
       <div class="text_carousel">
            <div>
            <h3>Where business means</h3>
            <p>Round the clock consultation</p>
          </div>
    </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
     <div class="carousel-caption">
        <div class="img_carousel"><img src="assets/appImages/banner/2.png" alt=""></div>
        <div class="text_carousel">
            <div>
              <h3>Where business means</h3>
              <p>Patients come first</p>
            </div>
          </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
     <div class="carousel-caption">
        <div class="img_carousel"><img src="assets/appImages/banner/3.png" alt=""></div>
        <div class="text_carousel">
              <div>
                <h3>Where business means</h3>
                <p>Supporting the NHS</p>
              </div>
          </div>
    </div>
  </ng-template>
</ngb-carousel>
    <div class="rightdoctor">
      <img src="assets/appImages/man.png" alt="">

    </div>
      <div class="text-center btn_banner">   
      <button class="health_btn" mat-raised-button="mat-raised-button">Start My Health journey</button>
      </div>
  </div>
  <div class="clear"></div>
  <div class="container">
      <div class="col-md-12 first_hading">
        <div>
                 <h1 class="hadingWelocme">Welocme <span>to</span></h1>
                <p class="hadinghappy">Happy<span>GP</span>  </p>
              </div>
        </div>

        <div class="col-md-12 video_section">
          <h4 class="hading_video">Take a Tour</h4>
            <iframe class="videoSec" src="https://www.youtube-nocookie.com/embed/5rpF6vDrR_Y?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
              </iframe>
        </div>

        <div class="our_patients col-md-12">
            <div class="listtab">
              <ul>
                <li><img src="assets/appImages/1.png" alt=""><span>Our aim is to cut health care wastage to an absolute minimum to deliver happiness in the lives of our patients in the shortest time possible.
                </span></li>
               <li><img src="assets/appImages/2.png" alt=""><span>Our methods have already revolutionized care and benefited thousands of patients at an award-winning Brockhurst Medical Center.
                </span></li>
               <li><img src="assets/appImages/3.png" alt=""><span>Happy GP was born out of the frustrations of a Senior Partner running Brockhurst Medical Centre.</span></li>
               <li><img src="assets/appImages/4.png" alt=""><span>We would like our National Health Services to deliver even better services with time.</span></li>
               <li><img src="assets/appImages/5.png" alt=""><span>Comprehensive care delivered via the latest technology and by top quality medical teams.</span></li>
              </ul>
            </div> 


        </div>
   </div>




</div>

