#appLogo{
    width: 70px;
    height: 61px;
    background-image: url(/assets/appImages/app_logo.jpg);
    background-repeat: no-repeat;
    background-size: 84%;
    margin-bottom: 12px;
    margin-top:50px;
}

.help-block{
    display: none
}
#pageTitle h1{
    font-size: 35px;
    line-height: 35px;
    color: #000;
    margin-top: 35px;
    font-family: "Open Sans",sans-serif;
    
}#pageTitle h3{
    font-size: 15px;
    line-height: 18px;
    color: #000;
    font-weight: normal;
    font-family: "Open Sans",sans-serif;
    
}
.auth-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.form-full-width {
    width: 100%;
    margin-bottom: 0;
    margin-top:40px;
}
#authenticationContainer{
    width: 100%;
    /* border: solid #ccc 1px;  */
    background: #fff;
    overflow: hidden;
    /* padding:20px; */
}
 
.form_section{
    margin-top: 0;
}
.form_section .mat-icon{ 
    position: absolute;
    right: 0;
    font-size: 14pt;
    bottom: 0px;
    color: #999;
}
.form-control{
    height: auto;
}
.form-control .label{
    font-size: 12px;
}
 .form-control:focus{
     box-shadow: none;
     border: none;
 }
 .forgetpass{
    text-align: right;
    float: right;
    font-size: 14px;
    color: #1578e3;
    margin-top: 30px;
    text-decoration: underline;
 }
 .signinbtn{
     text-align: center;
     width: 100%;
     float: left;
     position: relative;
     margin-top: 30px;
 }
 .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background-color: #fbc219;
    color: #1c1c1c;
    border-radius: 50px;
    padding: 0px 40px;
    font-size: 16px;
    /* box-shadow: 0px 5px 10px 2px #ccc; */
}
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary:focus,
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary:active {
    outline: none;
    border:none;
}
button{
    font-family: "Open Sans",sans-serif;
}
.donthaveaccount{
    font-size: 16px;
    color: #1d1d1d;
    text-align: center;
    margin-top: 25px; 
    width: 100%;
    float: left;
}
.donthaveaccount p{
    font-size: 13px;
}
.donthaveaccount p span{
    color: #0000fd;
    cursor: pointer;
    text-decoration: underline;
}

 
@media (max-width: 320px) {
    #appLogo{
        margin-top: 20px;
    }
    #pageTitle{
        margin-top: 25px;
    }
    .form-full-width{
        margin-top:10px;
    }
}